@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px; /* Lebar scroll bar */
}
::-webkit-scrollbar-thumb {
  background-color: #90170c; /* Warna scroll thumb */
  border-radius: 10px; /* Membuat ujung scroll thumb melengkung */
}
::-webkit-scrollbar-track {
  background: #f3f4f6; /* Warna track */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #90170c;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f3f4f6;
}

.btn-hover{
  @apply hover:scale-[.98] hover:shadow-soft active:scale-95 hover:brightness-95 active:brightness-90
}

.plus-min-btn{
  @apply w-[15%] h-8 flex justify-center items-center rounded-md bg-bloods-700 text-white cursor-pointer btn-hover select-none
}
